:root{
    --font-titulo: 'Roboto Condensed', sans-serif;
    --font-texto: 'Raleway', sans-serif;
    --texto: #fff;
    --fondo: #2b333b;
    --boton-principal: #375643;
    --boton-secundario: #253e41;
    --acento: #172620
}

*{
    margin: 0;
    padding: 0;
    color: var(--texto);
}

body{
    background-color: var(--fondo);
    display: flex;
    justify-content: space-between;
    min-height: 100vh;
    flex-direction: column;
}

a{
    text-decoration: none
}

/*header*/

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,700&display=swap');
.logo-app{
    width: 50px;
    height: 50px;
    
}
header{
    top: 0px;
    width: 100%;
    display:flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--boton-secundario);
    box-shadow: 1px 1px 7px black;
    transition: .3s;
    height: 50px;
}

header.activar{
    opacity: 0.7;
    position: fixed;
    z-index: 200;
    box-shadow: 1px 1px 6px gray;
    transform: scale(0.8);
}

.logo{
    display: flex;
    align-items: center;
    user-select: none;
}
.menu{
    display: flex;
    align-items: center;
    margin-right: 10px;
    gap: 20px;
}
h1{
    font-family: var(--font-titulo);
    font-size: 40px;
    margin: 5px 0px 0px 5px;
}
.avatar-login{
    width: 30px;
    height: 30px;
    border-radius: 50%;
}


.bandera{
    width: 25px;
    height: 25px;

}
.nav{
    position: relative;
}
.flecha{
    width: 15px;
    height: 15px;
    filter: invert(1);
    rotate: -90deg;
}
ul,ol{
    list-style: none;
    position: relative;
}
.nav li{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}
.menu a{
    display: flex;
}
.nav li ol{
    display: none;
}
.nav li:hover > ol{
    transition:.6s;
    display: block;
    background-color: #253e41;
    opacity: 0.9;
}


.bandera-reino-unido{
    display: none;
}

.li:hover > .bandera-reino-unido{
    display: flex;
}


#opciones-usuario{
    display: none;
}

#opciones-usuario.mostrar{
    position: fixed;
    top: 50px;
    right: 0;
    display: block;
    background-color: var(--boton-secundario);
    font-family: var(--font-texto);
    padding: 15px;
    border-radius: 0 0 0 10px;
    z-index: 1000;
}


#boton-cerrar-sesion{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    cursor: pointer;
}

#opciones-usuario img{
    height: 20px;
    width: 20px;
    filter: invert();
}

#account-avatar{
    cursor: pointer;
}
/*main*/
main{
    flex: 1;
    display: flex;
    justify-content: center;
    gap: 25px;
    align-items: center;
    flex-wrap: wrap;
    font-family: var(--font-texto);
}

/* FOOTER */

footer{
    margin-top: 50px;
    background-color: var(--boton-secundario);
    height: 90px;
    font-family: var(--font-texto);
    box-shadow: 1px 1px 10px black;
}

footer .flex-container{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
}

footer div#logo-nombre{
    display: flex;
    justify-content: center;
    align-items: center;
}

#copyright{
    text-align: center;
    font-size: 20px;
}

#bandera-siguiente:hover{
    cursor: pointer;
}