@import url("../structure.css");

:root{
    --font-titulo: 'Roboto Condensed', sans-serif;
    --font-texto: 'Raleway', sans-serif;
    --texto: #fff;
    --fondo: #2b333b;
    --boton-principal: #375643;
    --boton-secundario: #253e41;
    --acento: #172620
}

#titulo{
    text-align: center;
    font-size: 60px;
    font-family: var(--font-titulo);
    padding-top: 20px;
}

#input-container{
    border-left: 2px dashed #fff;
    font-family: var(--font-texto);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

fieldset{
    border-radius: 10px;
    width: 50%;
    height: 400px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: var(--acento);
}

#left-side-image{
    background-image: url("../img/logo.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-right: 20px;
}

#left-side-image > div > h3{
    font-family: var(--font-titulo);
    font-size: 60px;
    text-align: center;
}

#left-side-image > div > p{
    font-size: 30px;
    font-weight: bolder;
    text-align: center;
}

fieldset div{
    display: flex;
    flex-direction: column;
}

input{
    color: #000;
    font-family: var(--font-texto);
    font-size: 20px;
    border-radius: 10px;
    padding: 10px;
    background-color: #585;
    color: #fff;
    border: 2px solid #fff
}

input::placeholder{
    color: #ddd
}

label{
    font-size: 20px;
    font-weight: 800;
}

button{
    padding: 10px;
    font-size: 20px;
    font-family: var(--font-titulo);
    background-color: var(--boton-principal);
    border-radius: 10px;
    cursor: pointer;
    border: 2px solid #fff;
    outline: none;
    padding: .5rem 1.5rem;
    transition: 0.2s background-color;
}

button:hover{
    background-color: #215435;
}

#error-container{
    display: none;
}

#error-container img{
    width: 40px;
    height: 40px;
}

@keyframes mostrarMensajeError{
    from { right: -1000px; }
    to { right: 10px; }
}

#error-container.mostrar{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: var(--font-texto);
    gap: 10px;
    padding: 10px;
    position: fixed;
    border-radius: 10px;
    bottom: 10px;
    right: 10px;
    background-color: var(--boton-principal);
    animation-name: mostrarMensajeError;
    animation-duration: 1s;
}