@import url("../structure.css");

:root{
    --font-titulo: 'Roboto Condensed', sans-serif;
    --font-texto: 'Raleway', sans-serif;
    --texto: #fff;
    --fondo: #2b333b;
    --boton-principal: #375643;
    --boton-secundario: #253e41;
    --acento: #172620
}
html{
    animation: entrada forwards .5s;
}
@keyframes entrada{
    0%{
        scale: 0;
    }
    100%{
        scale:1;
    }
}
main{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 80px;
}
.titulo{
    text-align: center;
    font-size: 35px;
    margin: 30px;
    font-family: var(--font-titulo);
}
header > h2{
    font-size: 30px;
    color: white;
    font-family: var(--font-titulo);
}
.volver{
    width: 100px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--boton-principal);
    border: none;
    border-radius: 15px;
    box-shadow: 0 0 3px black;
    font-size: 20px;
    color: white;
    position: fixed;
    left: 20px;
    font-family: var(--font-texto);
    top: 85px;
    user-select: none;
}
.volver:hover{
    transition: all .3s;
    transform: scale(1.03);
}

fieldset{
    border: none;
    box-shadow: 1px 1px 3px black;
    font-size: 25px;
    font-family: var(--font-texto);
    background-color: var(--boton-secundario);
}
#entregas{
    width: 680px;
    height: 480px;
    justify-content: center;
    overflow: hidden;
    overflow-y: scroll;
}
#mapa{
    width: 550px;
    height: 480px;
    justify-content:center;
    align-items: center;
}
#mostrar-pendientes{
    min-width: 100px;
    height: 30px;
    background-color: var(--boton-principal);
    font-family: var(--font-texto);
    color: white;
    font-size: 22px;
    position: fixed;
    right: 30px;
    top: 75px;
    border: none;
    border-radius: 15px;
    box-shadow: 0 0 3px black;
    cursor: pointer;
    z-index: 0;
}
#mostrar-pendientes:hover{
    transition: .3s;
    transform: scale(1.03);
    background-color:#4d705a;
}
#mostrar-todos{
    min-width: 100px;
    height: 30px;
    background-color: var(--boton-principal);
    font-family: var(--font-texto);
    color: white;
    font-size: 22px;
    position: fixed;
    right: 30px;
    top: 75px;
    border: none;
    border-radius: 15px;
    box-shadow: 0 0 3px black;
    cursor: pointer;
    z-index: 0;
    display: none;
}
#mostrar-todos:hover{
    transition: .3s;
    transform: scale(1.03);
    background-color:#4d705a;
}
#entregas > input{
display: none;
}
#uno{
    width: 80%;
    height:  45px;
    background-color: var(--boton-principal);
    font-size: 25px;
    text-align: center;
    margin: 5px;
    border-radius: 10px;
    font-size: var(--font-texto);
    cursor: pointer;
}
#entrega{
    width: 45px;
    height: 45px;
    border: 1px solid black;
    background-color: var(--boton-principal);
    border-radius: 10px;
    margin: 20px;
    cursor: pointer;
}
