@import url("../style.css");

:root{
    --font-titulo: 'Roboto Condensed', sans-serif;
    --font-texto: 'Raleway', sans-serif;
    --texto: #fff;
    --fondo: #2b333b;
    --boton-principal: #375643;
    --boton-secundario: #253e41;
    --acento: #172620
}
*{
    user-select: none;
}
html{
    animation-name: intro;
    animation-duration: .6s;
    animation-fill-mode: forwards;
}
@keyframes intro{
    0%{
        scale: 0.3;
    }
    100%{
        scale: 1;
    }
}
/* HEADER */

header.activar{
    opacity: 0.7;
    position: sticky;
    z-index: 200;
    box-shadow: 1px 1px 6px gray;
    transform: scale(0.8);
}

/* MAIN */
main{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 80px;
}
fieldset{
    border:none;
    box-shadow: 1px 1px 7px black;
    font-size: 25px;
}

.crear{
    width: 120px;
    height: 40px;
    position: relative;
    left: 35%;
}
.paquetes{
    width: 600px;
    height: 480px;
    overflow: hidden;
    overflow-y: scroll;
}
.informacion{
    width: 550px;
    height: 480px;
}
#boton-crear{
    width: 100px;
    height: 30px;
    background-color: var(--boton-principal);
    font-family: var(--font-texto);
    color: white;
    font-size: 25px;
    position: fixed;
    right: 30px;
    top: 75px;
    border: none;
    border-radius: 15px;
    box-shadow: 0 0 3px black;
    cursor: pointer;
}
#boton-crear:hover{
    transition: .3s;
    transform: scale(1.03);
    background-color: #446451;
}
.volver{
    width: 100px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--boton-principal);
    border: none;
    border-radius: 15px;
    box-shadow: 0 0 3px black;
    font-size: 20px;
    color: white;
    position: absolute;
    left: 20px;
    font-family: var(--font-texto);
    top: 80px;
    user-select: none;
}
.volver:hover{
    transition: all .3s;
    transform: scale(1.03);
}
.container-crear{
    width: 380px;
    height: 500px;
    background-color: var(--boton-secundario);
    border: 1px solid black;
    position: absolute;
    margin: 0 auto;
    z-index: 300;
    display: none;   
}
.container-crear.mostrar{
    animation-name: entrada ;
    animation-duration: .6s;
    animation-fill-mode: forwards;
    display: block;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container-crear.mostrar form{
    width: 100%;
    height: 85%;
    font-size: 20px;
    font-family: var(--font-texto);
    margin-left: 35px;
}
.container-crear.mostrar form input, .container-crear.mostrar form select{
    width: 200px;
    height: 35px;
    background-color: var(--boton-principal);
    border: 1px solid black;
    box-shadow: 0 3px 3px black;
    border-radius: 10px;
    margin: 15px;
}
.container-crear svg{
    position: absolute;
    top: 0;
    right: 10px;
    width: 25px;
    height: 25px;
    cursor: pointer;
}
#crear-paquete{
    width: 100px;
    height: 30px;
    margin-top: 30px;
    margin-left: 0;
    background-color: var(--boton-principal);
    font-family: var(--font-texto);
    color: white;
    font-size: 25px;
    border: none;
    border-radius: 15px;
    box-shadow: 0 0 3px black;
    cursor: pointer;
    position: relative;
    left: calc(50% - 60px);
}
#lotes{
    width: 90%;
    height: 130px;
    overflow: hidden;
    overflow-y: scroll;
    border: 1px solid black;
    border-radius: 15px;
    background-color: var(--boton-principal);
    display: flex;
    flex-wrap: wrap;
}
.loteBoton{
    color: #fff;
    font-family: var(--font-texto);
    background-color: var(--boton-secundario);
    font-size: 20px;
    width: 30px;
    height: 30px;
    border: 1px solid #000000;
    border-radius: 10px;
    transition: background-color 0.2s;
    box-shadow: 5px 5px 5px #000;
}
.loteBoton:hover{
    transition: all ease-in .3s;
    background-image:linear-gradient(#2f4437, #3e7a54) ;
}
#crear-paquete:hover{
    transition: .3s;
    background-color: #4d6958;
    transform: scale(1.03);
}
@keyframes entrada {
    0%{
        opacity: 0.1;
    }
    100%{
        opacity: 1;
    }
}

@keyframes ver {
    0%{
        opacity: 0.1;
    }
    100%{
        opacity: 0.95;
    }
}
#container-asignar{
    width: 360px;
    height: 450px;
    background-color: var(--boton-secundario);
    border: 1px solid black;
    position: absolute;
    margin: 0 auto;
    z-index: 300;
    display: none;   
}
#container-asignar.ver{
    display: flex;
    animation: asignar .3s forwards;
}
@keyframes asignar{
    0%{
        transform: scale(0);
    }
    100%{
        transform: scale(1);
    }
}
.informacion svg{
    width: 35px;
    height: 35px;
    margin-left: 20px;
    cursor: pointer;
}
.informacion > div {
    display: flex;
    flex-direction: row;
}
#cerrar{
    position: absolute;
    top: 0;
    right: 10px;
    width: 25px;
    height: 25px;
    cursor: pointer;
}


.paquetes-creados{
    font-size: 40px;
    font-family: var(--font-texto);
}
.alerta-creada{
    font-size: 35px;
    font-family: var(--font-texto);
    background-color: green;
    width: 100%;
    position: fixed;
    z-index: 999;
    top: 0;
    min-height: 40px;
    border-radius: 5px;
    box-shadow: 1px 1px 1px black;
    animation-name: passed;
    animation-duration: .2s;
    animation-fill-mode: forwards;
}
@keyframes passed {
    0%{
        opacity: 0.3;
    }
    100%{
        opacity: 1;
    }
}
.alerta-error{
    font-size: 35px;
    font-family: var(--font-texto);
    background-color: red;
    width: 100%;
    position: fixed;
    z-index: 999;
    top: 0;
    height: 40px;
    text-align: center;
    border-radius: 5px;
    box-shadow: 1px 1px 1px black;
    animation-name: error;
    animation-duration: .2s;
    animation-fill-mode: forwards;
}
@keyframes error{
    0%{
        opacity: 0.3;
    }
    100%{
        opacity: 1;
    }
}

.paqueteBoton{
    color: #fff;
    font-family: var(--font-texto);
    background-color: var(--boton-secundario);
    font-size: 20px;
    width: 60px;
    height: 60px;
    border: 1px solid #000000;
    border-radius: 10px;
    transition: background-color 0.2s;
    box-shadow: 5px 5px 5px #000;
}

.paqueteBoton:hover{
    background-image:linear-gradient(var(--boton-principal), var(--boton-secundario)) ;
}

.paqueteBoton:focus{
    background-color: orange;
}

/* RESPONISVE */

@media (max-width:500px){
 .paquetes , .informacion{
    width: 100%;
    padding: 30px;
 }
 .container-crear.mostrar{
    width: 100%;
    top: 160px;
 }
 .informacion{
    font-size: 18px;
    height: 350px;
 }
 .container-crear.mostrar form input ,.container-crear.mostrar form select {
    width: 250px;
    height: 40px;
 }
 #boton-crear{
    margin-top: 5px;
 }
 #container-asignar.ver{
    width: 100%;
 }
}