@import url("../style.css");

:root{
    --font-titulo: 'Roboto Condensed', sans-serif;
    --font-texto: 'Raleway', sans-serif;
    --texto: #fff;
    --fondo: #2b333b;
    --boton-principal: #375643;
    --boton-secundario: #253e41;
    --acento: #172620
}

html{
    animation-name: intro;
    animation-duration: .6s;
    animation-fill-mode: forwards;
}
@keyframes intro{
    0%{
        scale: 0.3;
    }
    100%{
        scale: 1;
    }
}
/* HEADER */

header.activar{
    opacity: 0.7;
    position: sticky;
    z-index: 200;
    box-shadow: 1px 1px 6px gray;
    transform: scale(0.8);
}

/* MAIN */

.boton{
    position: absolute;
    top: 15px;
    right: 15px;
    width: 120px;
    height: 40px;
    color: var(--texto);
    background-color: var(--boton-principal);
    border-radius: 20px;
    font-size: 25px;
    cursor: pointer;
    border: none;
    box-shadow: 2px 2px 2px black;
}
.crear{
    width: 120px;
    height: 40px;
    position: relative;
    left: 35%;

}
.boton-cerrar{
    position: relative;
    width: 120px;
    height: 40px;
    left: 20px;
    margin-bottom: 85px;
}
.boton-asigar{
    position: relative;
    width: 120px;
    height: 40px;
    left: 50%;
}
.boton:hover{
    transition: all .2s ease;
    transform: scale(1.03);
    box-shadow: 1px 1px 1px black;
    background-color: #4c6c58;
}
.boton:focus{
    animation-name: boton;
    animation-duration: .2s;
    animation-fill-mode: forwards;
 }
 @keyframes boton{
     0%{
         scale: 1;
         box-shadow: 3px 3px 3px black;
     }
     50%{
         scale: 0.9;
         box-shadow: 3px 3px 3px black;
     }
     100%{
         scale: 1;
         box-shadow: 3px 3px 3px black;
     }
 }
.paquetes{
    height: 500px ;
    width: 50%;
    padding: 15px;
    font-size: 25px; 
    text-align: center;
}
.informacion{
    min-height: 500px ;
    width: 40%;
    padding: 15px;
    font-size: 25px; 
}
fieldset img{
    width: 70px;
    height: 70px;
    position: relative;
    left: 80%;
    top: -40px;
    cursor: pointer;
}
fieldset > img:hover{
    transition: all .1s ease;
    scale: 1.03;
    box-shadow: .8px .8px 2px black;
}
fieldset{
    border:none;
    position: relative;
    top: 50px;
    box-shadow: 1px 1px 7px black;
    margin: 10px;
}
.container-crear{
    font-size: 20px;
    display: none;
    width: 350px;
    height: 350px;
    position: absolute;
    top: 15%;
    left: 35%;
    background-color: var(--boton-secundario);
    opacity: 0.98;
}
.container-crear.mostrar{
    animation-name: entrada ;
    animation-duration: .6s;
    animation-fill-mode: forwards;
    display: block;
}
@keyframes entrada {
    0%{
        opacity: 0.1;
    }
    100%{
        opacity: 0.95;
    }
}
.asignar{
    font-size: 20px;
    display: none;
    width: 350px;
    height: 450px;
    position: absolute;
    top: 15%;
    left: 35%;
    background-color: var(--boton-secundario);
    opacity: 0.98;
}
.asignar.ver{
    animation-name: ver;
    animation-duration: .6s;
    animation-fill-mode: forwards;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
@keyframes ver {
    0%{
        opacity: 0.1;
    }
    100%{
        opacity: 0.95;
    }
}
.scroll{
    width: 100%;
    height: 100%;
    overflow: hidden;
    overflow-y: scroll; 
}
.vehiculos{
    width: 70%;
    height: 300px;
    left: 50px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    top: -35px;
}
.scrolltres{
    width: 100%;
    height: 100%;
    overflow: hidden;
    overflow-y: scroll; 
}

form textarea,input,select{
    color: black;
    margin-top: 60px;
}
form select{
    position: relative;
    width: 50%;
    left: 15%;
}
.paquetes-creados{
    font-size: 40px;
    font-family: var(--font-texto);
}
.alerta-creada{
    font-size: 35px;
    font-family: var(--font-texto);
    background-color: green;
    width: 100%;
    position: sticky;
    z-index: 999;
    position: absolute;
    top: 0;
    height: 40px;
    text-align: center;
    border-radius: 5px;
    box-shadow: 1px 1px 1px black;
    animation-name: passed;
    animation-duration: .2s;
    animation-fill-mode: forwards;
}
@keyframes passed {
    0%{
        opacity: 0.3;
    }
    100%{
        opacity: 1;
    }
}
.alerta-error{
    font-size: 35px;
    font-family: var(--font-texto);
    background-color: red;
    width: 100%;
    position: sticky;
    z-index: 999;
    position: absolute;
    top: 0;
    height: 40px;
    text-align: center;
    border-radius: 5px;
    box-shadow: 1px 1px 1px black;
    animation-name: error;
    animation-duration: .2s;
    animation-fill-mode: forwards;
}
@keyframes error{
    0%{
        opacity: 0.3;
    }
    100%{
        opacity: 1;
    }
}
main{
    position: relative;
}